.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #304156;
}
.login .title {
  height: 53px;
  letter-spacing: 1px;
  padding: 26px 0;
  font-size: 38px;
  color: #ffffff;
  font-weight: bold;
  line-height: 53px;
}
.login .form {
  width: 400px;
  height: 336px;
  background-color: white;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 83px 32px 57px 32px;
}
.login .form .el-form-item {
  margin-bottom: 28px;
}
.login .form .login-btn {
  width: 100%;
  background-color: #304156;
  font-size: 16px;
  font-weight: bold;
  margin-left: 0;
  margin-top: 28px;
}
