html,
body {
  line-height: 100%;
  margin: 0;
  background-color: #F0F2F5;
}
.my-container {
  height: 100%;
  padding: 0;
}
.my-container .el-header {
  background-color: #fff;
  color: #333;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.my-container .el-header .left {
  height: 100%;
  line-height: 64px;
  font-size: 14px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-container .el-header .left img {
  margin-right: 3px;
}
.my-container .el-header .right {
  height: 64px;
  line-height: 64px;
  font-size: 14px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-container .el-header .right .man {
  margin-right: 8px;
}
.my-container .el-header .right .out {
  margin-left: 23px;
}
.my-container .nav {
  height: 34px;
  padding: 0 24px;
  display: flex;
  align-items: center;
}
.my-container .el-aside {
  background-color: #304156;
  height: 800px;
}
.my-container .el-aside .title {
  color: #fff;
  text-align: center;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  font-weight: bold;
}
.my-container .el-aside .el-menu {
  border: none;
}
.my-container .el-aside .el-menu-item {
  height: 60px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #bfcbd8;
  background-color: #304156;
}
.my-container .el-aside .el-menu-item:hover {
  background-color: #253444;
}
.my-container #main {
  padding: 0;
  margin-top: 1px;
  background-color: #fff;
}
.my-container .el-form-item__label {
  line-height: 36px;
  font-size: 14px;
}
.my-container .el-form-item__content {
  height: 36px;
}
.my-container .el-form-item__content #rmb {
  font-size: 12px;
  line-height: 17px;
  color: #999999;
  padding: 8px 0;
}
.my-container .el-form-item__content .el-input {
  height: 36px;
}
.my-container .el-form-item__content .el-input .el-input__inner {
  height: 36px;
  line-height: 36px;
}
