.my-container {
    height:100%;
    .el-header {
      background-color: #fff;
      color: #333;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .left {
        height: 100%;
        line-height: 64px;
        font-size: 14px;
        color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-right:3px;
        }
      }
      .right {
        height: 64px;
        line-height: 64px;
        font-size: 14px;
        color: #333333;
        display: flex;
        justify-content: center;
        align-items: center;
        .man {
          margin-right: 8px;
        }
        .out{
          margin-left: 23px;
        }
      }
    }
    .nav {
      height: 34px;
      padding: 0 24px;
      display: flex;
      align-items: center;
    }

    .el-aside {
      background-color: #304156;
      height: 800px;
      .title {
        color: #fff;
        text-align: center;
        height: 64px;
        line-height: 64px;
        font-size: 24px;
        font-weight: bold;
      }
      .el-menu {
        border: none;
      }
      .el-menu-item {
        height: 60px;
        font-size: 14px;
        letter-spacing: 1px;
        color: #bfcbd8;
        background-color: #304156;
        &:hover {
          background-color: #253444;
        }
      }
    }

    
    #main{
      padding: 0 24px;
      margin-top:1px;
      background-color: #F0F2F5;
    }
  }